@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap");
@import "variables";
@import "elements";

* {
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0px 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  z-index: 1;
  nav {
    ul {
      display: flex;
      li {
        padding: 0px 15px;
      }
    }
    span {
      display: flex;
      justify-content: flex-end;
    }
  }
  h1 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.5px;
  }
  .logo {
    font-size: 32px;
    font-weight: 600;
    // text-align: center;
    place-self: center center; // 상하좌우로 center 위치
  }
  > span {
    // text-align: end;
    justify-self: end; // justfy-content와 다른 점...
  }
}

main {
  .hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 300vh;
    .hero__img {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
    .hero__text {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      .hero__text__row {
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        &.show {
          opacity: 1;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // &:not(:first-child) {
        //   display: none;
        // } // 이 부분 나중에 수정 필요!
        width: 50%;
        height: 100vh;
        text-align: center;
        h2 {
          width: 73%;
          font-size: 55px;
          font-weight: 700;
          margin-bottom: 50px;
        }
        span {
          font-size: 13px;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          a {
            color: orangered;
            font-weight: 600;
          }
        }
      }
    }
  }
}
