@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import "variables";
@import "reset";
@import "titles";
@import "mixin";

// Components
@import "components/header";
@import "components/hero";
@import "components/under-hero";
@import "components/blog";
@import "components/footer";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cormorant Garamond";
  padding-top: 70px;
  color: $grey;
  & > *:not(.footer) {
    padding: 0px 140px;
  }
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  .gallery__poster {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .hero {
    h3 {
      font-size: 2.5em;
      width: 70%;
    }
    a {
      padding: 1.5em 5.5em;
    }
  }
  .under-hero {
    .under-hero__content {
      .wrapper {
        h3 {
          font-size: 1.7em;
        }
        a {
          padding: 1.5em 3em;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  body > * {
    padding: 0px 50px !important;
  }
}

@media screen and (max-width: 1024px) {
  body > * {
    padding: 0px !important;
  }
  header {
    // padding: 0px 20px !important;
    nav {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 70px;
      padding-bottom: 15px;
      background-color: rgba(243, 237, 232, 0.95);
      transform: translateY(-10%);
      transition: all 0.3s linear;
      opacity: 0;
      visibility: hidden;
      &.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
      ul {
        width: 100%;
        align-items: center;
        // display: none;
        li {
          &:hover {
            background-color: white;
            opacity: 0.6;
          }
          width: 95%;
          padding: 15px 0px;
          border-radius: 10px;
          text-align: center;
        }
        &:first-child {
          li {
            &:first-child {
              margin-top: 15px;
            }
            margin: 0px;
          }
        }
        flex-direction: column;
      }
    }
    button {
      &.active {
        right: 47%;
      }
      display: block;
      position: absolute;
      top: 20px;
      right: 13px;
      width: 30px;
      height: 30px;
      color: $grey;
    }
  }
  .hero {
    margin: 0px;
    margin-bottom: 80px;
    width: 100%;
    h4 {
      font-size: 0.3rem;
    }
    h3 {
      width: 50%;
    }
    a {
      padding: 1.5em 4em;
    }
  }
}

@media screen and (max-width: 780px) {
  .hero {
    h4 {
      font-size: 0.2rem;
    }
    h3 {
      font-size: 2rem;
      width: 65%;
    }
    a {
      padding: 1.3em 3.5em;
    }
  }
  .under-hero {
    display: flex;
    flex-direction: column;
    img,
    div {
      width: 100%;
    }
    .under-hero__content {
      .wrapper {
        width: 50%;
        h3 {
          margin: 4rem;
        }
        a {
          padding: 1.3em 3.5em;
          margin-bottom: 3rem;
        }
      }
    }
  }
  .blog {
    display: flex;
    flex-direction: column;
    .blog__post {
      width: 100%;
      // margin-bottom: 0px;
      &:nth-child(2) {
        img {
          order: 0;
        }
      }
      display: flex;
      flex-direction: column;
      .post__content {
        .post__date {
          margin: 2em 0;
        }
        h4 {
          width: 90%;
          font-size: 1.8em;
        }
        .post__button {
          margin-bottom: 2.5em;
        }
      }
    }
  }

  .footer {
    .footer__row {
      padding: 30px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .footer__column {
        width: 90%;
        padding: 25px 0px;
        &:nth-child(2) {
          border-left: none;
          border-right: none;
          border-top: 1px solid $grey;
          border-bottom: 1px solid $grey;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero {
    h4 {
      font-size: 0.2rem;
    }
    h3 {
      font-size: 1.5rem;
      width: 70%;
    }
    a {
      padding: 1.3em 3.5em;
    }
  }
}
